html, body {
    height: 100%;
    width: 100%;
    background: rgb(181, 230, 247);
  }

span{
    display: inline-block;
    vertical-align: middle;
}

table{
    width: 100%;
}

tr{
    width: 100%;
}

td{
    width: 25%;
    padding: 20px;
}

select{
  width: 240px;
  height: 30px;
  font-size: 16px;
  border-radius: 4px;
  text-align-last: center;
}


tr.rows:hover {background-color:#929292;}

tr.exampleRow{
    background:rgb(2, 162, 255);
}

tr.exampleRow input{

    font-size: 20px;
    text-align-last: center;
}

.view{
    height: 100%;
}

.head{
    width: 100%;
    height: 25%;
    background-color: rgb(158, 155, 155);
    text-align: center;
    position: relative;
}

.form{
    width: 100%;
    height: 50%;
    background-color: rgb(158, 155, 155);
    position: relative;
}

.footer{
  text-align: center;
}

.calendar img{
  height: 30px;
  width: auto;
}

.calendar .showCalendar{
  position: absolute;
  top: 25%;
  left: 50%;
}

.calendar .hideCalendar{
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
}

.input{
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.Button{
  width: 240px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
}

tr.rows .Button{
  width: 120px;
  height: 30px;
  background: #fff;
  border-radius: 4px;
}

.react-autosuggest__container {
    
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    
  }
  
  .react-autosuggest__input--focused {
    outline: none;
    
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 51px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;

  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    
    
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
    
  }


